[submodule "agents/skills/gstack"]
	path = agents/skills/gstack
	url = git@github.com:garrytan/gstack.git
[submodule "agents/skills/greptile"]
	path = agents/skills/greptile
	url = git@github.com:greptileai/skills.git
