"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "395fd080-a6c8-934c-408a-9fd229fd64ae"
  "markdown-preview":
    breakOnSingleNewline: true
  react: {}
  welcome:
    showOnStartup: false
