"*":
  editor:
    fontSize: 13
    lineHeight: 1.4
    showIndentGuide: true
    preferredLineLength: 78
    invisibles: {}
  core:
    excludeVcsIgnoredPaths: false
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    projectHome: "~/Projects/"
    audioBeep: false
  "exception-reporting":
    userId: "8058216d-0916-94a8-ee30-b9a286cb93ad"
  welcome:
    showOnStartup: false
  metrics:
    userId: "8ad65fe19751fba485a35c69912285ac5e7a04d8"
  "go-plus":
    goInstallation: "/usr/local/bin/go"
    goPath: "/Users/duncan/Projects/Go"
    showPanel: false
    formatWithGoImports: false
    formatTool: "gofmt"
    lintOnSave: false
  "tree-view":
    hideVcsIgnoredFiles: true
